<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Diary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{url_for('static', filename='javascriptfile.js')}}"></script>
</head>
<body>
    
    <h1>Diary</h1>
    <form method="POST"></form>
        <div class="grid-container">
        
            <!--label for="height">Height (cm)</label-->
            <!--input type="number" name="height" id="height" required><br><br-->
            
         
            <div id="leftsideMenu" name="comp_select" class="items">
                <ul style="list-style-type:none", class="files_names_list">
                    {% for file in files %}
                        <li class="file_name"  tabindex="1" ondblclick = "handleDoubleClick(event);">
                                "{{file}}"
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div id="divDiaryInput" name="divDiaryInput" class="divDiaryInput">
                <label for="diaryInput" id="label1" class="label1">What happened today:</label>
                <textarea id="diaryInput" class="textArea" name="diaryInput" rows="44" cols="50">{{ message }}</textarea>
            </div>
           
            <!--label for="weight">Weight (kg)</label-->
            <!--input type="number" name="weight" id="weight" required><br><br-->

        
            <input type="submit" name="save" class="save" id="save" value="Save Diary"/>

            <div id="divLabelSearch" name="divLabelSearch" class="divLabelSearch">
                <label for="wordToSearch" id="labelSearch" class="labelSearch" >Please enter a word to search</label>
                <input type="text" id="wordToSearch" name="wordToSearch" maxlength="20"/>
            </div>
            <input type="submit" name="search" class="search" id="search" value="Search"/> 
            

        </div>
    </form>
    
</body>
</html>